.prev-page-services{
    background-color: rgb(177, 141, 211);
    color: #2867f0;  font-weight: 700;
    text-align: center;
    font-size: 18px;
    width: 100%; height: 38px;
    margin-left: 3px;
    border-radius: .2rem;
}

.prev-page-services:hover{
    color: rgb(27, 26, 26);
}