.bookings-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.bookings-h1
{
    color: rgba(37, 150, 190, 1);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.form-group
{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 15px;
}   

.bookings-form
{
    width: 45%;
    display: grid;
    place-items: center;
}

.main-form
{
    background-color:#FFF;
    width: 100%;
    padding: 10px;    
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(187, 183, 183, 0.8),
    inset 3px 3px 3px rgba(204, 198, 198, 0.9);
}

.main-form > h1
{
    color: rgba(37, 150, 190, 1);
    font-size: 2rem;
    padding-top: 5px;
}

.inner-form
{
    border: none;
    margin: 33px 0;
} 


.inner-form > input
{ 
    background: transparent;
    width: 100%; height: 50px;
    font-size: 21.5px;
    border: 1px solid rgba(37, 150, 190, 1);
    border-radius: 4px;
    padding-left: 12px;
} 

.inner-form > input, input::placeholder
{
    color: rgb(116, 112, 112);
}

.booking-button-profile
{
    background: rgba(216, 166, 15, 0.7);
    width: 30%; height: auto;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    color: #000;
    font-weight: 800;
}


.booking-button-profile:hover, 
.events-search-button:hover, 
.booking-button:hover
{
    background: rgba(37, 150, 190, 1); 
    color:#FFF;
} 

.display-event
{
    width: 50%;  height: auto;
    background-color: #FFF;
    margin-left: 5%;
    box-shadow: 5px 5px 5px rgba(187, 183, 183, 0.8),
    inset 3px 3px 3px rgba(204, 198, 198, 0.9); 
}

.display-event > h2
{
    color: rgba(37, 150, 190, 1);
    font-size: 2rem;
    font-weight: 450;
    text-align: center;
} 

.event-search-filter
{
    display: flex;
    width: 100%;
    padding: 2px;
    margin-top: 15px;
}


.event-search-filter > .search 
{
    width: 50%; height: auto;
    color: #000;
    font-size: 1rem; font-weight: 400;
    border: 3px solid rgba(37, 150, 190, 1);
    border-radius: 11px;
    text-align: center;
    padding: 10px;
    margin-left: 5%;
    outline: none;
} 

.event-search-filter > .search:hover
{
    background-color: rgba(37, 150, 190, 1); 
    border: none;
    color:#FFF;
}

.events-search-button
{
    background-color:rgba(216, 166, 15, 0.7);
    width: 30%; height: auto;
    margin-left: 10%;
    border-radius: 15px;
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px;
} 

.display-event > #display-events
{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; height: auto;
    overflow-x:auto;
    margin-top: 32px;
    border:none;
} 

#display-events td, #display-events th {
    border: 1px solid rgba(37, 150, 190, 1);
    border-radius: 3px;
    text-align: left;
    font-size: 20px;
    padding: 10px;
}

#display-events td
{
    height: 50px;
    vertical-align: center;
}

.backend-images
{
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center;
}

#display-events tr:hover
{
    background-color: rgba(37, 150, 190, 1); 
    color: #FFF;
    border: none;
}

.bookings-footer
{
    display: grid;
    place-items: center;
} 

.bookings-footer > h3
{
    color: rgba(37, 150, 190, 1);
    font-size: 2rem;
    margin-top: 30px;
    
}  

@media screen and (max-width: 1200px)
{
    .form-group{
        display: grid;
        place-items: center;
        width: 100%;
        height: auto;
    } 
    .bookings-form {
        width: 80%;
        margin-left: 10%;
        padding-top: 20px;        
    }  
    
    .display-event{
        display: block;
        width: 90%;
        padding: 5px;
        height: 78vh;
        margin-bottom: 10px;
        margin-left: 22px;
    } 
    
    #display-events td, 
    #display-events th {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
        font-size: 15px;
    }

    .bookings-footer
    {
        margin-top: 20px;
    }

    .backend-images
    {
    width: 70px;
    height: 80px;
    } 
}  
