.butt{
background-color: #8d928f;
border-radius: 50px;
box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
color: #1c201c;
cursor: pointer;
display: flex;
font-family: Arial, sans-serif;
font-size: 1em;
height: 50px;
padding: 0 25px ;
transition: all 200ms;
justify-content: center;
align-items: center;
position: absolute;
top: 40%;
left: 50%;
}

.butt:hover{
background-color: #AFE6C3;
transform: scale(1.05);
}