/* :root{
  font-size: 0.8vw;
  font-family: 'Poppins', sans-serif;
  --primary-font-family: 'Poppins', sans-serif;
  --secondary-font-family: 'Volkorn SC', serif;
  --color-primary:#efe6d5; 
  --color-secondary: #7B3F00;
} */


.hero {
  display: flex;
  justify-items: center;
  align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .hero_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
  
  .hero_title {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 25%;
    /* left: 50%; */
    color: #F3FCF0;
    font-size: 5rem;
    padding: 15px;
    /* color: #446ec8; */
  } 
  

  @media screen and (max-width: 768px)
{
    .hero_title
    {
      /* left: 10%; */
      font-size: 4rem;
    }
}

@media screen and (max-width: 576px){
  .hero{
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
}