.hero {
  display: flex;
  justify-items: center;
  align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .hero_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
  
  .hero_title {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15%;
    /* left: 50%; */
    color: #F3FCF0;
    font-size: 5rem;
    padding: 15px;
    /* color: #446ec8; */
  }

.brand{
  justify-content:center ;
    width: 100%;
    font-size: 3rem;
    bottom: 45vh;
    color: #FFD23F;
    letter-spacing: .5rem;
}
  

  @media screen and (max-width: 768px)
{
    .hero_title
    {
      /* left: 10%; */
      font-size: 4rem;
    }
}

@media screen and (max-width: 576px){
  .hero{
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .brand{
    font-size: 52px;
  }
  
}

@media screen and (min-width: 576px) {
  .brand{
    font-size: 48px;
  }
}