.profile-container
{
    width: 100%;
    height: 92vh;
    border: none;
    outline: none;
    display: grid;
    place-items: center;
    background: transparent;
}

.profile-update,
.profile-show
{
    background-color: rgb(16, 84, 143);
    width: 90%;
    border: none;
    border-radius: 10px;
    height: auto;
    display: grid;
    place-items: center;
}

.profile-update-details
{
    width: auto;
    color: #FFF;
    font-size: 20px;
    padding: 10px;    
}

.profile-label,
.profile-show-labels
{
    color: aliceblue;
    margin: 5px;
    font-size: 19px;
}

.profile-input,
.profile-change-inputs

{
    background-color: aliceblue;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-left: 10px;
    display: block;
}
.profile-input:hover
{
    background-color:rgb(230, 237, 9)
}

.profile-update-container
{
    width: 100%;
    margin-top: 5px;
    padding: 12px;
}

.profile-update-button
{
    margin: 0 5%;
    padding: 7px;
    border-radius: 3px;
    width: 70px;
    font-weight: 600;
    font-size: 18px;
}

.profile-update-button.save
{
    background-color: rgb(91, 219, 22);
}
.profile-update-button.save:hover,
.profile-details-update:hover
{
    background-color: rgb(230, 237, 9);
}

.profile-update-button.discard
{
    background-color: red;
    width: 80px;
    float: right;
}

.profile-update-button.discard:hover,
.profile-destroy-delete:hover
{
    background-color: rgb(240, 12, 218);
}

.profile-welcome,
.profile-update-success
{
    width: 90%;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.profile-welcome
{
    background-color: rgb(16, 84, 143);
    color: #fff;
}

.profile-update-success
{
    background-color: rgb(91, 219, 22);
}

.profile-show
{
    padding: 20px;
}


.profile-destroy
{
    background-color: rgb(16, 84, 143);
    width: 90%;
    height: auto;
    padding: 15px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.profile-destroy-delete,
.profile-details-update,
.profile-new-event
{
    width: 30%;
    padding: 15px;
    margin: 5px;
    font-weight: 800;
    text-align: center;
    color: #FFF;
    border: none;
    border-radius: 5px;
}


.profile-destroy-delete
{
    background-color: red;
}

.profile-details-update
{
    background-color: rgb(91, 219, 22);
    color: #000;

}

.profile-new-event
{
    background-color: aqua;
    color:rgb(240, 12, 218);
}

.profile-new-event:hover
{
    background-color: rgb(98, 107, 208);
    color: #FFF;
}

@media only screen and (min-width: 900px) {


    .profile-update,
    .profile-show
    {
        width: 60%;
    }

    .profile-update-details
    {
        font-size: 27px;
    }

    .profile-min-inputs
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
    }

    .profile-label > label,
    .profile-show-labels > label
    {
        padding: 10%;
        font-size: 20px;

    }

    .profile-input,
    .profile-change-inputs
    {
        padding: 10px;
        margin-top: 15px;
    }

    .profile-update-button.save,
    .profile-update-button.discard
    {
        margin-bottom: 16px;
    }

    .profile-welcome,
    .profile-update-success
    {
        width: 60%;
    }

    .profile-show
    {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
    }

    .profile-destroy
    {
        width: 60%;
    }
}