
.reviews-items{
    width: 80%;
    /* height: 100%; */
    margin-left: 10%;
    top: 2725px;
    margin-top: 7%;
    margin-bottom: 7%;
    background: #e21919;
    border-radius: .5rem;
}
.reviews-items > h1{
    color: rgba(255, 189, 29, 0.7);
    font-size: 30px;
    font-weight: 800;
    padding-top: 5%;
    text-align: center;
}

.reviews {
    text-align: center;
}