
.reviews-items{
    width: 80%;
    margin-left: 10%;
    top: 2725px;
    margin-top: 7%;
    margin-bottom: 7%;
    background: #e21919;
    border-radius: .5rem;
}
.reviews-items > h1{
    color: rgba(255, 189, 29, 0.7);
    font-size: 30px;
    font-weight: 800;
    padding-top: 5%;
    text-align: center;
}

.reviews {
    text-align: center;
}

.prev-page-reviews
{
    background-color: #FFD23F;
    color: #2867f0;  font-weight: 700;
    text-align: center;
    width: 150px; height: 68px;
    margin-top: 20px;    margin-left: 3px;
    border-radius: .2rem;
    padding: 0.5rem;
}

.prev-page-reviews:hover{
    background-color: rgb(177, 141, 211);
    color: rgb(27, 26, 26);
} 
